@using QOAM.Website.Helpers
@using QOAM.Website.Resources
@model QOAM.Website.Models.LoginFailureReason

@{
    ViewBag.Title = ViewStrings.Account_ExternalLoginFailure_Title;
}

<div class="container">
    <h1>@ViewBag.Title.</h1>
    
    @Bootstrap.Error(Model.GetName())
    
    <p>
        <a href="~/Login.ashx" class="btn btn-primary" title="@Strings.LogIn">@Strings.LogIn</a>
    </p>
</div>